<!-- ========== FOOTER ========== -->
<footer class="footer">
    <div class="footer-logos">
      <a href="https://weill.cornell.edu/">
        <img src="images/logo/WCM_MB_LOGO_HZSS2L_CLR_RGB.png" alt="Weill Cornell Medicine Logo" class="footer-logo">
      </a>
      <div class="footer-divider"></div>
      <a href="https://tech.cornell.edu/">
        <img src="images/logo/Twisted-T-Lockup-Cornell-Red.png" alt="Cornell Tech Logo" class="footer-logo">
      </a>
    </div>
    <p>&copy; <span id="current-year"></span> Paetzold Lab. All rights reserved.</p>
  </footer>
  
  <script>
    // Set current year dynamically
    document.getElementById('current-year').textContent = new Date().getFullYear();
  </script>